@model Care.Domain.Question


@{
    ViewBag.Title = "Question";
}

<h2>QuestionPage</h2>
<body>
    <p>Hello Dan</p>
</body>

<h3>Question</h3>
<div id="QuestionId">@Model.Id.ToString()</div>
<div id="QuestionValue">@Model.Value.ToString()</div>
@using (Html.BeginForm("Question", "Test", new { id = @Model.Id.ToString() }))
{
        Html.Hidden("testId", (object)ViewBag.TestId.ToString());
        Html.Hidden("studentId", (object)ViewBag.StudentId.ToString());           
        string x = ViewBag.Partial.ToString();
        //Html.Partial(x);
        Html.RenderPartial(x);
        <br />
    <input class="button" id="submit" type="submit" value="Submit" />    
}


