@*@{
    Layout = null;
}*@

@model Care.ViewModels.QuestionViewModel

<body>
    @{
        @Html.RadioButton("AnswerValue", "0", true)@:NO<br />
        @Html.RadioButton("AnswerValue", "1")@:YES<br />

    }       
</body>